	
<div class="gr">
 <div class="u_1">
 <img src="assets/images/pic1.jpg" alt="Vitage Car picture one">
 </div>
</div>
<div class="backWood">
<div class="gr">
 <div class="u_1 header">
 <h1 class="Wooden">Get Your Dog Some NEW STUFF</h1>
 </div>
</div>

<div class="Product_container">
	<div class="productRow">
		<div class="product">
			<div class="productName"></div>
			<div class="productPrice"></div>
			<IMG class="productIMG">
			<div class="productInfo"></div>
			<button routerLink="/Product" class="ViewBtn">View More</button>
		</div>
		<div class="product">
			<div class="productName"></div>
			<div class="productPrice"></div>
			<IMG class="productIMG">
			<div class="productInfo"></div>
			<button routerLink="/Product" class="ViewBtn">View More</button>
		</div>
	</div>
	<div class="productRow">
		<div class="product">
			<div class="productName"></div>
			<div class="productPrice"></div>
			<IMG class="productIMG">
			<div class="productInfo"></div>
			<button routerLink="/Product" class="ViewBtn">View More</button>
		</div>
		<div class="product">
			<div class="productName"></div>
			<div class="productPrice"></div>
			<IMG class="productIMG">
			<div class="productInfo"></div>
			<button routerLink="/Product" class="ViewBtn" ng-click='PickProduct(3)'>View More</button>
		</div>
	</div>
	
</div>
</div>
	




		<!----------------------------------------------------------------------->
        <!------------------------footer div------------------------------------->
        <!----------------------------------------------------------------------->
        <div class="gr">
            <div class="u_1">
                <div class="footer">
                    <div class="pad">
                        <div class="pad">
                            <div class="u_1_3">
                                <h3 class="h3_11">Contact Us</h3>
                                <br />
                                <p class="bttons">
                                    <a href=""><img src="assets/images/contact/email.png" /></a>
                                    <a href=""><img src="assets/images/contact/facebook.png" /></a>
                                    <a href=""><img src="assets/images/contact/instagram.png" /></a>
                                    <a href=""><img src="assets/images/contact/phone.png" /></a>
                                </p>
                            </div>
                            <div class="u_1_3">
                                <h3 class="h3_11">About Us</h3>

                                <p class="bttons">
                                    In the winter of 2011, while serving as working members at ADX,<br />
                                    Portland’s Makerspace, Zach and Josh met and became friends, <br />
                                    sharing a love of art, punk, and burritos. With the help of their<br />
                                    friends at ADX, they formed Band, a diverse, draw-it-by-hand,<br />
                                    make-it-from-scratch, do-it-together creative studio, in a room<br />
                                    they built above the shop’s kitchen

                                </p>
                            </div>
                            <div class="u_1_3">
                                <h3 class="h3_11">Discover More</h3>
                                <br />
                                <p class="bttons">
                                    Subscribe to our newsletter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

