
    <!---------------------------------------------------------------->
    <!------------------------menu div-------------------------------->
    <!---------------------------------------------------------------->
    <!----------------------------------------------------------------->
    <!------------------------image div-------------------------------->
    <!----------------------------------------------------------------->
    <div class="gr">
        <div class="u_1">
            <img src="assets/images/pic1.jpg" alt="dog">
        </div>
    </div>
    <!----------------------------------------------------------------->
    <!------------------------header div------------------------------->
    <!----------------------------------------------------------------->
    <div class="gr">
        <div class="u_1 header">
            <h1 class="welcome">Pet Shop & Supplies</h1>
        </div>
    </div>
    <!----------------------------------------------------------------->
    <!------------------------first content div------------------------>
    <!----------------------------------------------------------------->
    <div class="gr">
        <!--------------1/2 left unit----------------------------------->
        <div class="u_1_2 ">
            <div class="pad ">
                <div class="content u_1 ">
                    <img src="assets/images/pic2.jpg" alt="private">
                </div>
            </div>
        </div>
        <!--------------1/2 right unit---------------------------------->
        <div class="u_1_2">
            <div class="pad ">
                <div class="content u_1 ">
                    <p class="img4_5"><img clas="img4" src="assets/images/pic4.jpg" /></p>
                </div>

                <div class="content u_1 ">
                    <h1 class="h3_1">Shop Our Sale</h1>
                    <p class="cntn">
                        Our Services Provide The Best Products And Most<br />
                        Popular Accessoriess For Your Pet!<br />
                        Keep Your Pet Healthy. Check out markdowns<br />
                        on an assortment of pet essentials.<br />
                    </p>
                </div>

                <div class="content u_1 ">
                    <p class="img4_5"><img clas="img4" src="assets/images/pic5.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!----------------------------------------------------------------->
    <!------------------------second content div------------------------>
    <!----------------------------------------------------------------->
    <div class="gr">
        <div class="u_1_2">
            <div class="pad ">
                <div class="content u_1 ">
                    <h3 class="secondone">Why Choose Us?</h3>
                    <p class="cntn2">Established in 2015, our store has gone through 6 years.<br /> We are very grateful for those who are staying with us all the time.<br /> If you have any problems or suggestion, pls contact us without hesitation.</p>
                </div>
            </div>
        </div>

        <div class="u_1_2">
            <div class="pad ">
                <div class="content u_1 ">
                    <h3 class="secondone">Costumer Comments</h3>
                    <p class="cntn2">Idan Mizrahi - <i>"Its hard looking after your pets.. <br /> Thanks to Pet Shop & Supplies, i can take good care<br /> of them!"</i></p>
                </div>
            </div>
        </div>
    </div>
        <!----------------------------------------------------------------------->
        <!------------------------footer div------------------------------------->
        <!----------------------------------------------------------------------->
        <div class="gr">
            <div class="u_1">
                <div class="footer">
                    <div class="pad">
                        <div class="pad">
                            <div class="u_1_3">
                                <h3 class="h3_11">Contact Us</h3>
                                <br />
                                <p class="bttons">
                                    <a href=""><img src="assets/images/contact/email.png" /></a>
                                    <a href=""><img src="assets/images/contact/facebook.png" /></a>
                                    <a href=""><img src="assets/images/contact/instagram.png" /></a>
                                    <a href=""><img src="assets/images/contact/phone.png" /></a>
                                </p>
                            </div>
                            <div class="u_1_3">
                                <h3 class="h3_11">About Us</h3>

                                <p class="bttons">
                                    In the winter of 2011, while serving as working members at ADX,<br />
                                    Portland’s Makerspace, Zach and Josh met and became friends, <br />
                                    sharing a love of art, punk, and burritos. With the help of their<br />
                                    friends at ADX, they formed Band, a diverse, draw-it-by-hand,<br />
                                    make-it-from-scratch, do-it-together creative studio, in a room<br />
                                    they built above the shop’s kitchen

                                </p>
                            </div>
                            <div class="u_1_3">
                                <h3 class="h3_11">Discover More</h3>
                                <br />
                                <p class="bttons">
                                    Subscribe to our newsletter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

